$primary: #6A955B;
$secondary: #E5E5E5;
$info: #3e70bb;
$danger: #cc4141;

:root {
  --texmo-primary-color: #6A955B;
  --texmo-text-color: #424244;
  --texmo-bg-primary: #F2F2F2;
  --texmo-bg-secondary: #E5E5E5;
  --texmo-font: "kohinoor", sans-serif;

  --texmo-bg-secondary-borders: #c9c9c9;

  --toastify-color-light: #{$secondary};
  --toastify-color-success: #{$primary};
  --toastify-color-error: #{$danger};
  --toastify-text-color-light: var(--texmo-text-color);
  --toastify-toast-width: 100vw;
}
