$primary: #6A955B;
$dark-primary: #415a38;
$secondary: #f2f2f2;
$dark-secondary: #838383;
$info: #3B7BD9;
$dark-info: #244C86;
$danger: #99444f;
$dark-danger: #482025;
$warning: #e6e369;

:root {
  --texmo-primary-color: #6A955B;
  --texmo-text-color: #424244;
  --texmo-bg-primary: #F2F2F2;
  --texmo-bg-secondary: #E5E5E5;
  --texmo-font: "kohinoor", sans-serif;

  --texmo-bg-secondary-borders: #c9c9c9;

  --toastify-color-light: #{$secondary};
  --toastify-color-success: #{$primary};
  --toastify-color-error: #{$danger};
  --toastify-text-color-light: var(--texmo-text-color);
  --toastify-toast-width: 100vw;
}

$theme-colors: (
  "primary": #6A955B,
  "dark-primary": #415a38,
  "secondary": #E5E5E5,
  "dark-secondary": #838383,
  "info": #0D6EFD,
  "dark-info": #062a61,
  "danger": #99444f,
  "dark-danger": #482025,
  "warning": #e6e369
);