$primary: #6A955B;
$secondary: #E5E5E5;
$info: #0D6EFD;
$danger: #FF002F;

:root {
  --texmo-primary-color: #6A955B;
  --texmo-text-color: #424244;
  --texmo-bg-primary: #F2F2F2;
  --texmo-bg-secondary: #E5E5E5;
  --texmo-font: "kohinoor", sans-serif;
}