body {
  color: var(--texmo-text-color);
  font-family: var(--texmo-font) !important;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: var(--texmo-text-color);
  font-family: var(--texmo-font);
  font-weight: 800;
  font-style: normal;
}

.sidebar-bg-grey {
  background-color: var(--texmo-bg-primary);
}

.main-nav {
  i {
    font-size: 3rem;
  }

  .nav-link.active {
    background-color: var(--texmo-bg-secondary) !important;
    color: var(--texmo-text-color) !important;
  }
}

.logo {
  width: 200px;

  @media(min-width: 1024px) {
    width: 300px;
    margin: 30px 0 0 30px;
  }
}

.tile {
  .segment {
    background-color: var(--texmo-bg-primary);
  }

  .count {
    background-color: var(--texmo-primary-color);
  }
}

.search-input {
  background-color: var(--texmo-bg-primary);
  padding: 15px;

  &:focus {
    background-color: var(--texmo-bg-primary);
  }
}

.input-group {
  .search-input {
    border-right: 0;
  }
}

.input-group-button {
  background-color: var(--texmo-bg-primary);
  color: #9c9b9b;
  @extend .border;
  border-left: 0 !important;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
}


.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}


a.card-link {
  color: inherit;
  text-decoration: none;
}

.card.card-hover-effect {
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.card-hover-effect:hover {
  transform: translateY(5px);
}

.gray-text {
  color: #9fa8b3;
}

.page-header {
  width: 100%;
}

.page-header-column {
  flex: 1;
}

.right-page-header-column {
  justify-content: flex-end;
}

a.breadcrumb-item {
  text-decoration: none;
  color: var(--texmo-text-color);
}

a.breadcrumb-item:hover {
  text-decoration: underline;
}