.list-container {
  overflow-x: auto;
}

.list-head {
  display: inline-flex !important;
  flex-wrap: nowrap !important;
  min-width: 100%;
}

.list-row {
  display: inline-flex !important;
  flex-wrap: nowrap !important;
  min-width: 100%;
  background-color: var(--texmo-bg-primary);
  position: relative;
}

.list-row:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(146, 146, 146, 0.3);
  pointer-events: none;
}

.list-cell {
  flex-shrink: 0;
}

.list-head {
  background-color: white;
}

.list-text {
  font-size: 1rem;
}

.list-title {
  font-size: 1rem;
  font-weight: bolder;
}
