.card {
  background-color: var(--texmo-bg-primary);
  border: none;
  font-family: var(--texmo-font);
  font-weight: 400;
  font-style: normal;
  border-radius: 0;
}

.card-header {
  font-family: var(--texmo-font);
  font-weight: 800;
  font-style: normal;
}